.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:40% ;
}
.body{
    color: rgb(31, 106, 116);
    background-color: rgb(162, 180, 138);
    margin: 20%;
}
#caption{
    color: black;
font-size: 18px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#tribute-link{
    text-decoration: none;
    color: black;
}
.open-button{
color: rgb(250, 250, 252);
background-color: rgb(245, 5, 5);
margin-left: 20px;
margin-right: 20px;
border: none;
padding: 8px;
cursor:grab;
font-weight: bold;

}